form{
  background-color: black;
  color: white;
  padding: 20px
}
html{
  height:100%
}

h1{
  text-align: center;
  color:white;
  font-size: 75px;
  padding-bottom:100px
}
body{
  height:100%;
  font-family: 'Cinzel', serif;
  background-color:#F6AA1C
}

footer{
  padding: 20px;
  font-size: 25px;
  color: white;
  background-color: #941B0C
}
.parallax {
  /* The image used */

background-image: url("courtroom.jpg");
/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parallax2 {
  /* The image used */

background-image: url("justice.jpg");
/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.parallax3 {
  /* The image used */

background-image: url("lobby.jpg");
/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
