body{
  font-family: 'Cinzel', serif;
  background-color: #621708
}
footer{
  font-size: 25px;
  color: white;
}

h1{
  text-align: center;
  color: #F6AA1C;
  font-size: 100px
}

html{
  height:100%;
}

body{
  height: 100%;
  background-color: #BC3908;
  font-family: 'Cinzel', serif;
}

.parallax {
  /* The image used */

background-image: url("justice.jpg");
/* Full height */
height: 100%;

/* Create the parallax scrolling effect */
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
